<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>抽奖配置</title>
  <link rel="stylesheet" href="css/reset.css" />
  <link rel="stylesheet" href="js/element-ui@2.4.11/lib/theme-chalk/index.css" />
  <script src="js/polyfill.min.js"></script>
  <script src="js/vue.min.js"></script>
  <!-- <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> -->
  <script src="js/element-ui@2.4.11/lib/index.js"></script>
  <script src="js/xlsx.full.min.js"></script>
  <script src="js/imex_port.js"></script>
  <script src="js/lottery.js"></script>
  <style>
    #app {
      padding: 100px 0;
    }

    .fixed {
      position: fixed;
      background-color: #fff;
      width: 100%;
      top: 0;
      z-index: 10;
      box-shadow: 0 0 10px 1px #ccc;
    }

    .fixed .module {
      margin: 20px auto;
    }

    .el-table .el-input {
      width: 120px;
    }

    .el-table {
      margin-bottom: 10px;
    }

    * {
      cursor: initial;
    }

    .module {
      width: 80%;
      margin: auto;
      margin-top: 50px;
    }

    h1 {
      font-size: 30px;
      text-align: center;
      line-height: 1.5;
      margin-bottom: 20px;
    }

    h1 span {
      font-size: 16px;
    }

    a {
      text-decoration: underline;
      cursor: pointer;
    }

    .action-bar {
      padding: 10px 0;
    }
    .right{
      float: right;
    }
  </style>
</head>

<body>
  <div id="app">
    <div class="fixed">
      <div class="module opts">
        <el-button type="danger" @click="onResetSystem">重置数据</el-button>
        <el-button type="warning" @click="onResetResult">重置中奖结果</el-button>
        <el-button class="right" type="primary" @click="goIndex">去抽奖</el-button>
        <el-button class="right" type="success" icon="el-icon-download" @click="exportLuckyGuys">导出中奖名单</el-button>
      </div>
    </div>
    <div class="module title">
      <h1>活动标题设置</h1>
      <div>
        <el-input v-model="lotteryTitle" placeholder="请输入活动标题"></el-input>
      </div>
    </div>
    <div class="module awards">
      <h1>奖项设置 <span>（请按抽奖顺序添加）</span></h1>
      <el-alert title="双击表格数据可以修改内容" type="success"> </el-alert>
      <el-table :data="tableData" style="width: 100%">
        <el-table-column :prop="item.prop" :label="item.label" width="180" v-for="(item, index) in columns"
                         :key="index">
          <template slot-scope="scope">
            <div>
              <div v-if="scope.row.editing && scope.row.editing[item.prop]">
                <el-input size="mini" v-model="scope.row[item.prop]"
                          @keyup.enter.native="onSaveCell(scope.row, item.prop)"
                          @blur="onSaveCell(scope.row, item.prop)">
                </el-input>
              </div>
              <div v-else @dblclick="onEditCell(scope.row, item.prop, $event)">
                {{ scope.row[item.prop] || '(请填写)' }}
              </div>
            </div>
          </template>
        </el-table-column>
        <el-table-column prop="address" label="操作">
          <template slot-scope="scope">
            <el-button size="small" @click="onAdd(scope.row, scope.$index)" type="primary">增加</el-button>
            <el-button size="small" @click="onRemove(scope.row, scope.$index)" type="danger">删除</el-button>
          </template>
        </el-table-column>
      </el-table>
      <el-button size="small" type="primary" @click="onAdd(null, -1)" v-show="tableData.length===0">增加</el-button>
      <div>
        <el-checkbox v-model="oneTime">每人只有一次中奖机会(勾选表示不可重复中奖)</el-checkbox>
      </div>
    </div>
    <div class="module members">
      <h1>参与人员列表(共{{memberSource.length}}人)</h1>
      <div class="action-bar">
        <el-button size="small" @click="onAddMember" type="primary">增加</el-button>
        <el-button size="small" type="warning" @click="onReset">重置</el-button>
        <el-button class="right" size="small" type="success" icon="el-icon-download" @click="exportMembers">导出人员名单</el-button class="right">
        <el-button class="right" size="small" type="success" icon="el-icon-upload2" @click="$refs.fileInput.click()">导入人员名单
        </el-button>
        <input type="file" ref="fileInput" style="display:none;" @change="importMembers"
               accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" multiple />
      </div>
      <el-alert title="导入名单将会覆盖现有数据哦" type="warning"> </el-alert>
      <el-table :data="memberSource" style="width: 100%" stripe>
        <el-table-column :prop="item.prop" :label="item.label" width="180" v-for="(item, index) in memberColumns"
                         :key="index">
          <template slot-scope="scope">
            <div>
              <div v-if="scope.row.editing && scope.row.editing[item.prop]">
                <el-input size="mini" v-model="scope.row[item.prop]"
                          @keyup.enter.native="onSaveCell(scope.row, item.prop)"
                          @blur="onSaveCell(scope.row, item.prop)">
                </el-input>
              </div>
              <div v-else @dblclick="onEditCell(scope.row, item.prop, $event)">
                {{ scope.row[item.prop] || '(请填写)' }}
              </div>
            </div>
          </template>
        </el-table-column>
        <el-table-column prop="address" label="操作">
          <template slot-scope="scope">
            <el-button size="small" @click="onRemoveMember(scope.row, scope.$index)" type="danger">删除</el-button>
          </template>
        </el-table-column>
      </el-table>
      <el-button size="small" @click="onAddMember" type="primary">增加</el-button>
      <el-button size="small" type="warning" @click="onReset">重置</el-button>
    </div>
  </div>
  <script>
    new Vue({
      el: '#app',
      data: {
        lotteryTitle: '',
        columns: [
          {
            prop: 'name',
            label: '名称',
          },
          {
            prop: 'count',
            label: '数量',
          },
          {
            prop: 'award',
            label: '奖品',
          },
          {
            prop: 'batchNumber',
            label: '每次抽几名',
          },
        ],
        memberColumns: [
          {
            prop: 'id',
            label: '工号',
          },
          {
            prop: 'name',
            label: '姓名',
          },
        ],
        tableData: [],
        memberSource: [],
        fileList: [],
        // 只能中奖一次
        oneTime: true,
      },
      computed: {
        awards: function () {
          return this.tableData
            .filter(function (item) {
              return item.name && item.count;
            })
            .map(function (item) {
              return {
                name: item.name,
                award: item.award,
                count: item.count,
                batchNumber: item.batchNumber
              };
            });
        },
        members: function () {
          return this.memberSource
            .filter(function (item) {
              return item.name && item.id;
            })
            .map(function (item) {
              return {
                id: item.id,
                name: item.name,
              };
            });
        },
      },
      watch: {
        lotteryTitle(newVal) {
          lottery.saveTitle(newVal)
        },
        oneTime(newVal) {
          lottery.saveOneTime(newVal)
        }
      },
      methods: {
        // 导入名单
        importMembers(e) {
          imExPortPlugin.import({
            "file": e.target.files[0],
            "format": [
              { "old": "工号", "new": "id" },
              { "old": "姓名", "new": "name" },
            ],
            "success": (res) => {
              this.memberSource = res
              lottery.saveMembers(res)
              this.$notify({
                title: '提示',
                message: '导入人员' + res.length + "条",
                type: 'success'
              });
            }
          })
        },
        // 导出名单
        exportMembers() {
          imExPortPlugin.export({
            "data": this.members,
            "format": [
              { "old": "id", "new": "工号" },
              { "old": "name", "new": "姓名" },
            ],
            "filename": "人员名单.xlsx",
            "success": () => {
              this.$notify({
                title: '提示',
                message: '导出名单成功',
                type: 'success'
              });
            }
          })
        },
        // 导出中奖名单
        exportLuckyGuys() {
          var list = []
          var result = lottery.getLuckyGuys()
          if (result.length > 0) {
            for (var i = 0; i < this.awards.length; i++) {
              var award = this.awards[i]
              for (var guy of result[i]) {
                list.push({
                  awardLevel: award.name,
                  awardName: award.award,
                  userId: guy.id,
                  userName: guy.name
                })
              }
            }
          }
          imExPortPlugin.export({
            "data": list,
            "format": [
              { "old": "awardLevel", "new": "奖项" },
              { "old": "awardName", "new": "奖品" },
              { "old": "userId", "new": "工号" },
              { "old": "userName", "new": "姓名" },
            ],
            "filename": "中奖名单.xlsx",
            "success": () => {
              this.$notify({
                title: '提示',
                message: '导出名单成功',
                type: 'success'
              });
            }
          })
        },

        goIndex() {
          window.location.href = './index.html'
        },
        onResetSystem() {
          var vm = this;
          this.$confirm(
            '重置会清空所有数据，无法撤销！',
            '确定要重置吗？',
            {
              confirmButtonText: '确定',
              cancelButtonText: '取消',
              type: 'warning',
            }
          ).then(function () {
            lottery.clear()
            window.location.reload()
          });
        },
        onResetResult: function () {
          var vm = this;
          this.$confirm(
            '重置会清空所有抽奖结果，无法撤销！',
            '确定要重置吗？',
            {
              confirmButtonText: '确定',
              cancelButtonText: '取消',
              type: 'warning',
            }
          ).then(function () {
            lottery.saveLuckyGuys()
          });
        },
        onSaveCell: function (row, key) {
          this.$set(row.editing, key, false);
          this.saveData();
        },
        onEditCell: function (row, key, e) {
          if (!row.editing) {
            this.$set(row, 'editing', {})
          }
          this.$set(row.editing, key, true);
          const parent = e.target.parentNode;
          this.$nextTick(function () {
            // console.log(parent.innerHTML, row)
            parent.querySelector('input').focus();
          });
        },
        onAdd: function (row, index) {
          console.log(row, index);
          this.tableData.splice(index + 1, 0, {
            editing: {
              name: true,
              award: true,
              count: true,
              batchNumber: true
            },
          });
        },
        onRemove: function (row, index) {
          this.tableData.splice(index, 1);
          lottery.saveAwards(this.awards)
        },
        onAddMember: function () {
          this.memberSource.push({
            editing: {
              id: true,
              name: true,
            },
          });
        },
        onRemoveMember: function (row, index) {
          var vm = this;
          this.$confirm('删除不可撤销！可重新添加', '确定删除吗？', {
            confirmButtonText: '确定',
            cancelButtonText: '取消',
            type: 'warning',
          }).then(function () {
            vm.memberSource.splice(index, 1);
            lottery.saveMembers(this.members)
          });
        },
        onReset: function () {
          var vm = this;
          this.$confirm('重置会清除现有人员列表', '确定重置吗？', {
            confirmButtonText: '确定',
            cancelButtonText: '取消',
            type: 'warning',
          }).then(function () {
            lottery.saveMembers()
            vm.memberSource = lottery.getMembers()
          });
        },
        saveData: function () {
          lottery.saveTitle(this.lotteryTitle)
          lottery.saveAwards(this.awards)
          lottery.saveMembers(this.members)
        },
      },
      created: function () {
        this.lotteryTitle = lottery.getTitle()
        this.tableData = lottery.getAwards()
        this.memberSource = lottery.getMembers()
        this.oneTime = lottery.getOneTime()
      },
    });
  </script>
</body>

</html>